body{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
h1{
    text-align: center;
    padding-right: 10px;
}
p{
    padding-left: 15px;
}

.btn{
    margin-left: 10px;
}
/* input{
    display: block;
    padding-left: 10px;

} */
#frame{
    height: 300px;
    width: 300px;
    background-color: antiquewhite;
    border-radius: 10px;
    font-weight: bold;
    /* font-family: 'Courier New', Courier; */
    padding-left: 15px;
    box-shadow: 0px 10px 20px rgb(205, 205, 203)
}
input{
   margin-top: 10px;
}
#inpt{
    font-family: Arial;
    font-weight: lighter;
}
button{
    margin-top: 15px;
    background-color: rgb(185, 185, 185);
    border-radius: 5px;
    box-shadow: 2px 5px 18px 5px rgb(181, 181, 181);
    font-weight: bold;
}
#subtn{
    /* background-color: navajowhite; */
}
button:hover{
    background-color: rgb(114, 114, 114);
    /* font-size: 15px; */
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 5px 22px 8px rgb(181, 181, 181);
}
#result{
    display: none;
}