* { 
  box-sizing: border-box; 
  font-family: "Segoe UI", sans-serif; 
}
body { 
  margin: 0; 
  background: #eef2f7; 
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-card {
  width: 470px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  padding: 0px 0px 20px 0px;
  overflow: hidden;
}

.todo-card h2 {
  text-align: center;
  background: #2f66c8;
  color: white;
  padding: 15px;
  border-radius: 0;
  margin-top: 0px;
  margin: 0;
}
.todo-content {
  padding: 0 20px;
}

.input-box {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.addBtn {
  height: 40px;
  width: 130px;
}

.tabs {
  margin-bottom: 10px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-list li.completed span {
  text-decoration: line-through;
  color: gray;
}

.actions {
  margin-left: auto;
  display: flex;
  gap: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #555;
}