body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111;
}

.project {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
}
